!!!
html(lang=en)
  head
    title Minimal Blog Viewer for Blogger™
  body
    p
      | Ever wanted to view a Blogger™-powered weblog but realized it <em>needs</em> Javascript?
      br
      | No problem! Enter a blog URL and be on your merry way.
    form(method='get', action='/blog')
      | URL: 
      input(type='text', name='id', value='code.blogger.com')
      input(type='submit')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript').
      window.onload = function () {
        $('input[type=text]').focus().select();
      }
      var input = $('input[type=text]')
      input.focus(function (e) {
        $(this).select();
      });
      // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome/1269767#1269767
      input.mouseup(function (e) {
        e.preventDefault();
      });
      $('body').keypress(function (e) {
        if (e.which == 10 || e.which == 13) {
          $('form').submit();
        }
      });
